h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
  }

  .list-styles {
    background-color: lightgray;
    line-height: 30px;
    text-decoration: underline;
  }

  .changebackground {
    background-color: lightgreen;
  }

  p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-align: center;
  }

  body {
    font-size: 16px;
  }

  #yellow-list {
    background-color: yellow;
  }

  #red-list {
    background-color: red;
  }

  #brown-list {
    background-color: brown;
  }